*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    display: block;
    position: relative;
    width: 100%;
    background-color: #191d23;
    color: #fff;
}

.wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
}